<div class="apple-mega-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="mega-title">Khám Phá Apple Watch</h6>
                <ul class="mega-list" id="watch-category-list"></ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Mua Apple Watch</h6>
                <ul class="mega-list">
                    <li>Mua iPhone</li>
                    <li>Phụ Kiện iPhone</li>
                    <li>Apple Trade In</li>
                    <li>Tài Chính</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Tìm Hiểu Thêm</h6>
                <ul class="mega-list">
                    <li>Hỗ Trợ Apple Watch</li>
                    <li>AppleCare+</li>
                    <li>iOS</li>
                    <li>Apple Intelligence</li>
                </ul>
            </div>
        </div>
    </div>
</div>