<div class="apple-mega-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="mega-title">Khám Phá iPad</h6>
                <ul class="mega-list" id="ipad-category-list"></ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Mua iPad</h6>
                <ul class="mega-list">
                    <li>Mua iPad</li>
                    <li>Phụ Kiện iPad</li>
                    <li>Apple Trade In</li>
                    <li>Tài Chính</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Tìm Hiểu Thêm</h6>
                <ul class="mega-list">
                    <li>Hỗ Trợ iPad</li>
                    <li>AppleCare+</li>
                    <li>iOS</li>
                    <li>Apple Intelligence</li>
                </ul>
            </div>
        </div>
    </div>
</div>