<div class="apple-mega-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="mega-title">Khám Phá Macbook</h6>
                <ul class="mega-list" id="mac-category-list"></ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Mua Macbook</h6>
                <ul class="mega-list">
                    <li>Mua Macbook</li>
                    <li>Phụ Kiện Macbook</li>
                    <li>Apple Trade In</li>
                    <li>Tài Chính</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6 class="mega-title">Tìm Hiểu Thêm</h6>
                <ul class="mega-list">
                    <li>Hỗ Trợ Macbook</li>
                    <li>AppleCare+</li>
                    <li>MacOS</li>
                    <li>Apple Intelligence</li>
                </ul>
            </div>
        </div>
    </div>
</div>