<nav class="navbar navbar-expand-lg fixed-top apple-nav">
    <div class="container position-relative">
        <a class="navbar-brand fs-4" href="/home.html"></a>
        <ul class="navbar-nav apple-center-menu gap-4 align-items-center">
            <li class="nav-item"><a class="nav-link" href="#">Cửa hàng</a></li>
            <li class="nav-item apple-mega" data-mega="mac">
                <a class="nav-link" href="#">Macbook</a>
                <div id="mega-mac" class="mega-content-wrapper"></div>
            </li>
            <li class="nav-item apple-mega" data-mega="ipad">
                <a class="nav-link" href="#">iPad</a>
                <div id="mega-ipad" class="mega-content-wrapper"></div>
            </li>
            <li class="nav-item apple-mega" data-mega="watch">
                <a class="nav-link" href="#">Apple Watch</a>
                <div id="mega-watch" class="mega-content-wrapper"></div>
            </li>
            <li class="nav-item apple-mega" data-mega="iphone">
                <a class="nav-link" href="#">iPhone</a>
                <div id="mega-iphone" class="mega-content-wrapper"></div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">AirPods</a></li>
            <li class="nav-item"><a class="nav-link" href="#">TV & Nhà</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Giải trí</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Phụ kiện</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hỗ trợ</a></li>
        </ul>
        <ul class="navbar-nav ms-auto gap-4 align-items-center">
            <li class="nav-item icon-btn">
                <span class="material-symbols-outlined">search</span>
            </li>
            <li class="nav-item icon-btn">
                <span class="material-symbols-outlined">shopping_bag</span>
            </li>
        </ul>
    </div>
</nav>